<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <title>Document</title>
</head>
<body>
    <div class="qn1">
    <p class="qn">How to bind a column collection from view model in sfDataGrid Xamarin Forms? </p>
    <p class="ans">Published on Nov 16,2018 | Tags : <span class="link">binding,columns,general,view-model</span></p>
        <div class="line"></div>
    </div>
    <div class="qn2">
        <p class="qn">How to create  a custom GridColumn ? </p>
        <p class="ans">Published on Oct 16,2018 | Tags : <span class="link">gridcolumn</span></p>
        <div class="line1"></div>
    </div>
    <div class="qn3">
        <p class="qn">How to have different page size in sfDataPager with sfDataGrid when the  device is in horizontal and verical orientation mode ? </p>
        <p class="ans">Published on Sep 19,2018 | Tags : <span class="link">orientation,pager,pagination,paging</span></p>
        <div class="line2"></div>
    </div>

</body>
</html>