$textColor :rgb(3, 3, 107) ;
$position :  relative;
.container{
    h1{
        text-align: center;
        color:$textColor
    }

    border: 1px solid black;
    width: 70%;
    margin-left : 15%;
    margin-top : 5%;
    // padding: 10px;

    .container1{

        color:$textColor;
        display: flex;
        
    
        .divLeft{
            position: $position;
            margin-left: 2%;
        }
        .divright{
            position: $position;
            margin-left: 5%;
        }
    
    .table{
        position : $position;
        margin-left: 1px;
        word-spacing: 2px;
        
        //  border-spacing: 5rem;
    }
        
        .tableData{
            position:$position;
            padding: 4%;
        }
        .qn{
            font-size: 120%;
            font-weight: 600;
        }
        
        .ans{
            font-size: 110%;
        }
    }
}